@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --MarineBlue: hsl(213, 96%, 18%);
    --PurplishBlue: hsl(243, 100%, 62%);
    --PastelBlue: hsl(228, 100%, 84%);
    --LightBlue: hsl(206, 94%, 87%);
    --StrawberryRed: hsl(354, 84%, 57%);
    --CoolGray: hsl(231, 11%, 63%);
    --LightGray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
    --LightGreen: hsl(76, 70%, 72%);
    --Green: hsl(113, 39%, 27%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--LightBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.Container {
    width: 60rem;
    height: 38rem;
    background-color: var(--White);
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
}

.SideBar {
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    min-height: 35.49rem;
    min-width: 17.1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 2rem;
    text-transform: uppercase;

}

.SideBar__Step {
    display: flex;

}

.SideBar__Step__Number__Wrapper {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0625rem solid var(--PastelBlue);
    color: var(--PastelBlue);
}


.CurrentStep {
    background-color: var(--PastelBlue);
    color: var(--MarineBlue);
}

.SideBar__Step__Number {
    font-size: 1rem;
    font-weight: 700;
}


.SideBar__Step__Details {
    padding: 0 1rem;
    display: flex;
    height: 2rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.SideBar__Step__Details__Step {
    margin: 0;
    color: var(--LightBlue);
    font-size: 0.75rem
}

.SideBar__Step__Details__Title {
    font-weight: 500;
    color: var(--White);
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.Form {
    height: 100%;
    margin: 0 auto;
}

.Form__Title {
    color: var(--MarineBlue);
    margin: 0.75rem 0;
}

.Form__Subtitle {
    color: var(--CoolGray);
    margin: 0;
    margin-bottom: 2rem;
}

.Form__Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 29.3rem;
}

.Form__Row {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.Form__Row__Laber__Wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.Form__Row__Label {
    color: var(--MarineBlue);
    font-weight: 500;
    font-size: 1rem;
}
.Form__Row__Notice{
    margin: 0;
    font-weight: 300;
    color: var(--StrawberryRed);

}
.Form__Row__Input {
    height: 2.5rem;
    border-radius: 0.3125rem;
    outline: none;
    border: 0.0625rem solid var(--LightGray);
    padding: 1rem;
}
.Form__Row__Input__Required {
    border: 0.1rem solid var(--MarineBlue);
}
.Form__Row__Input__Valid {
    border: 0.0625rem solid var(--Green);
}
.Form__Row__Input__InValid {
    border: 0.0625rem solid var(--StrawberryRed);
}

input:placeholder-shown {
    color: var(--LightGray);
    font-weight: 500;
}

.Form__Button {
    height: 2.5rem;
    padding: 1rem;
    background-color: var(--MarineBlue);
    border: 0.0625rem solid var(--LightGray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    width: fit-content;
    border-radius: 0.3125rem;
    margin-top: auto;
    align-self: flex-end;
}

#Step2{
    display: none;
}